{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'animalfacts/style.css' %}"
/>
<form action="{% url 'api_edit' %}" method="post" enctype="multipart/form-data" class="edit__container">
  {% csrf_token %}
  <input name="id" placeholder="Identifier" value="{{ id }}" hidden class="textfield textfield__text"/>
  <label for="title" class="edit__label">Title</label>
  <input
    id="title"
    name="title"
    placeholder="Title"
    type="text"
    value="{{ title }}"
    required
    class="text-field"
  />
  <label for="description" class="edit__label">Description</label>
  <input
    id="description"
    name="description"
    placeholder="Description"
    type="text"
    value="{{ description }}"
    class="text-field"
  />
  <label for="fact" class="edit__label">Fact</label>
  <input
    id="fact"
    name="fact"
    placeholder="Fact"
    type="text"
    required
    value="{{ fact }}"
    class="text-field"
  />
  <label for="image" class="edit__label">Image</label>
  <div>
    <img
      id="image"
      class="fact__image"
      src="{{ image.url }}"
      alt="{{ fact.description}}"
      width="200"
      height="200"
    />
    <input name="image" placeholder="Image" 
           type="file"  value="{{ image }}" />
  </div>
  <label for="breed" class="edit__label">Breed</label>
  <select id="breed" name="breed" title="Breed" type="text" required>
    {% for breed in breeds %}
    <option value="{{ breed.id }}">{{ breed.title }}</option>
    {% endfor %}
  </select>
  <input type="submit" class="fact__button fact__button--primary edit__save-btn"/>
</form>
