{% if animal_fact_list %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'animalfacts/style.css' %}"
/>
<ul class="fact__list">
  {% for fact in animal_fact_list %}
  <li>
    <article class="fact__card">
      <img
        class="fact__image"
        src="{{ fact.image.url }}"
        alt="{{ fact.breed.title }} | {{ fact.description}}"
      />
      <div class="fact__description">
        <h2 href="{% url 'detail' fact.id %}" class="fact__title">
          {{ fact.title }}
        </h2>
        <li>Breed: {{ fact.breed.title }}</li>
        <li>Description: {{ fact.description }}</li>
        <li>Rating: {{ fact.average_rating | floatformat:1 }}</li>
        <button class="fact__button fact__button--primary">Edit</button>
        <form action="{% url 'delete' fact.id %}" method="post">
          {% csrf_token %}
          <input
            type="submit"
            value="Delete"
            class="fact__button fact__button--dangerous"
          />
        </form>
      </div>
    </article>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No facts are available.</p>
{% endif %}
