{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'animalfacts/style.css' %}"
/>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% if animal_fact_list %}
{% load ratings %}
<ul class="fact__list">
  {% for fact in animal_fact_list %}
  <li>
    <article class="fact__card">
      <img
        class="fact__image"
        src="{{ fact.image.url }}"
        alt="{{ fact.breed.title }} | {{ fact.description}}"
      />
      <div class="fact__description">
        <h2 href="{% url 'detail' fact.id %}" class="fact__title">
          {{ fact.title }}
        </h2>
        <li>Breed: {{ fact.breed.title }}</li>
        <li>Description: {{ fact.description }}</li>
        <li>
          {% ratings fact %}
        </li>
        <a
          href="{% url 'edit' fact.id %}"
          class="fact__button fact__button--primary"
          >Edit</a>
        <a
        href="{% url 'confirm' fact.id %}"
        class="fact__button fact__button--dangerous"
        >Delete</a>
      </div>
    </article>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No facts are available.</p>
{% endif %}
<a href="{% url 'create' %}" class="fact__button fact__button--primary">Add</a>
